version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      POSTGRES_URL: postgres://postgres:password@postgres:5432/gift_exchange
      NEXTAUTH_URL: http://localhost:3000
      AUTH_GOOGLE_ID: ${AUTH_GOOGLE_ID}
      AUTH_GOOGLE_SECRET: ${AUTH_GOOGLE_SECRET}
      AUTH_SECRET: ${AUTH_SECRET}
    depends_on:
      - postgres

  postgres:
    image: postgres:alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: gift_exchange
    volumes:
      - ./sql/initialize-db.sql:/docker-entrypoint-initdb.d/init.sql
